.body{
    background-color: rgba(230, 245, 248, 0.699);
}

#num{
    display: block;
    text-align: center;
    font-size: 50px;
}

.incrementbtn{
    display: inline-flex;
    padding-inline: 9mm;
    align-items: stretch;
}

#password{
    display: block;
    text-align: center;
}

.singularbtn{
    display: block;
    text-align: center;
    padding-inline: 10mm;
    align-self: center;
}

#die{
    display: block;
    text-align: center;
    font-size: 50px;
}

#clicker{
    display: block;
    text-overflow: clip;
    padding: 5cm;
}

.span{
    font-size: large;
    color: blue;
}