@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,200;1,400&display=swap");
:root {
  --main-color: red;
}

body {
  background: #dfe7fa;
  margin: 2em;
}

.navigationbar {
  background: white;
  padding: 1em;
}
.navigationbar .logo {
  text-decoration: none;
  font-weight: bold;
  color: rgb(48, 17, 36);
  font-size: 1.3em;
}
.navigationbar .logo span {
  color: rgb(255, 0, 0);
}
.navigationbar .container {
  display: flex;
  place-content: space-between;
}
.navigationbar nav {
  display: none;
}
.navigationbar .mobile-menu-dropdown {
  cursor: pointer;
}

.left-col .subheading {
  text-transform: uppercase;
  color: var(--main-color);
  font-weight: bold;
  letter-spacing: 0.4em;
}
.left-col h1 {
  font-size: 2.5em;
  line-height: 0.9em;
  margin-top: 0.5em;
}
.left-col h1 span {
  color: var(--main-color);
}
.left-col .watch-anime-cta {
  background: var(--main-color);
  color: white;
  text-decoration: none;
  padding: 0.6em 1.3em;
  font-size: 1.4em;
  border-radius: 5em;
  font-weight: bold;
  display: inline-block;
}
.left-col .watch-anime-cta img {
  margin-right: 0.5em;
  margin-top: 0.2em;
}
.left-col .watch-youtubevideo-cta {
  background: red;
  display: inline-block;
  margin-top: 1em;
  color: white;
  text-decoration: none;
  padding: 0.6em 1.3em;
  font-size: 1.4em;
  border-radius: 5em;
  font-weight: bold;
}
.left-col .watch-youtubevideo-cta img {
  margin-right: 0.5em;
  margin-top: 0.2em;
}

.right-col-img {
  width: 70%;
  margin-top: 4em;
}

.intro-block {
  text-align: center;
}

ul.features-list {
  margin: 0;
  padding-left: 0.1em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(19em, 1fr));
}
ul.features-list li {
  font-size: 1.1em;
  margin-bottom: 1em;
  margin-left: 3em;
  position: relative;
  color: whitesmoke;
}
ul.features-list li:before {
  content: "";
  left: -2em;
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url("../Website Pictures/red pentagon.png");
  background-size: contain;
  margin-right: 1em;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

section {
  padding: 3em 2em;
}

a {
  color: rgb(70, 70, 70);
}

.features-heading {
  color: var(--main-color);
  text-align: center;
  display: grid;
}

.features-list {
  background: rgb(38, 59, 61);
}

h2 {
  font-size: 2em;
}

label {
  display: block;
  font-size: 1.3em;
  margin-bottom: 0.5em;
}

input, textarea {
  width: 100%;
  padding: 0.8em;
  margin-bottom: 1em;
  border-radius: 0.3em;
  border: 1px solid gray;
  box-sizing: border-box;
}

.Submit-info-cta {
  background-color: blue;
  color: white;
  font-weight: bold;
  font-size: 1.3em;
  border: none;
  margin-bottom: 5em;
  border-radius: 5em;
  display: inline-block;
  padding: 0.8em 2em;
  width: unset;
  cursor: pointer;
}

iframe {
  width: 100%;
  height: 300px;
}

nav.mobile-menu-dropdown {
  display: block;
}

nav {
  position: fixed;
  z-index: 999;
  width: 66%;
  right: 0;
  top: 0;
  background: rgb(88, 118, 121);
  height: 100vh;
  padding: 1em;
}
nav ul.main-nav {
  margin-top: 5em;
}
nav span {
  color: red;
}
nav li a {
  color: #ffffff;
  text-decoration: none;
  display: block;
  padding: 0.5em;
  font-size: 1.3em;
  text-align: right;
}
nav li a:hover {
  font-weight: bold;
}

.mobile-menu-exit {
  float: right;
  margin: 0.5em;
  cursor: pointer;
}

@media only screen and (min-width: 668px) {
  .mobile-menu-dropdown, .mobile-exit-menu {
    display: none;
  }
  .navigationbar .container {
    display: grid;
    grid-template-columns: 180px auto;
    justify-content: unset;
  }
  .navigationbar nav {
    display: flex;
    justify-content: space-between;
    background: none;
    position: unset;
    height: auto;
    width: 100%;
    padding: 0;
  }
  .navigationbar nav ul {
    display: flex;
  }
  .navigationbar nav a {
    color: black;
    font-size: 0.7em;
    padding: 0.7em 1em;
  }
  .navigationbar nav ul.main-navigation {
    margin-top: 0em;
    margin-left: -3em;
    font-size: 1.1em;
  }
  .navigationbar nav li.current a {
    font-weight: bold;
  }
  .navigationbar nav li.shiny-btn a {
    color: var(--main-color);
    border: 3px solid var(--main-color);
    font-weight: bold;
    border-radius: 6em;
    margin-top: -0.2em;
  }
  .navigationbar nav li.shiny-btn a:hover {
    background: var(--main-color);
    color: white;
  }
}
@media only screen and (min-width: 1080px) {
  .container {
    width: 1080x;
    margin: 0 auto;
  }
  section {
    padding: 10em 4em;
  }
  .intro-block .container {
    display: flex;
    justify-content: space-between;
    text-align: left;
  }
  .intro-block .container .left-col {
    margin: 3em 3em 0em 5em;
  }
  .intro-block .container .left-col h1 {
    font-size: 3em;
    width: 90%;
  }
  .right-col {
    width: 90%;
    margin: 2em, 0, 4em, 0;
  }
  .about-person {
    position: relative;
  }
  .about-person .container {
    display: flex;
  }
  .about-person .container-vid {
    position: relative;
    top: 0;
    right: 0;
    height: 100px;
    width: 400px;
  }
  .about-person .container-vid iframe {
    position: absolute;
    right: -38em;
    top: -30em;
  }
}/*# sourceMappingURL=main.css.map */